.results-body
  box-shadow: 0 1px 6px rgba(57,73,76,.45)
  max-height: 400px
  overflow-y: scroll
  overflow-x: hidden

  &::-webkit-scrollbar
    width: 12px

  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 10px


  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)

.individual-result
  border-bottom: 1px solid #e4e4e4
  .employee-picture
    text-align: center

    img
      width: 100px
      text-align: center
      height: 100px
      padding: 16px
      border-radius: 50px

  p
    padding-top: 0
    padding-bottom: 0
    margin-top: -5px
    margin-bottom: 0

    &.name
      font-weight: 400
      font-size: 14px

    &.email, &.employee_id
      font-size: 10px

  .btn-add-group-employee
    transform: translate(100%, 50%)

  .btn-remove-group-employee
    transform: translate(40%,50%)