header
  width: 100%
  box-shadow: 0 1px 6px rgba(57,73,76,.45)

  & .navigation
    background-color: #fff
    min-height: 75px
    margin: 0 auto
    max-width: 1100px

    & .logo
      width: 170px
      padding: 16px

      & img
        width: 100%

