.section-container
  width: 100%
  height: 100%
  margin: 0 auto
  padding-top: 60px
  background-color: #f2f2f2

  .container-login
    max-width: 600px
    margin: 0px auto
    position: relative
    background-color: #fff
    padding: 30px
    box-shadow: 0 1px 6px rgba(57,73,76,.35)

    & .social-login
      margin-top: 10px

      &>a.btn
        border-radius: 20px
        width: 150px

    & .login-footer
      margin-top: 10px

      & .text-muted
        font-size: 9px

    .btn-new-password
      width: 150px
      border-radius: 15px