.btn-page-one, .btn-create
  width: 150px
  float: right
.noUi-horizontal
  height: 10px
  background: #ff7332
  background: -moz-linear-gradient(left, #ff7332 0%, #27d83b 100%)
  background: -webkit-linear-gradient(left, #ff7332 0%,#27d83b 100%)
  background: linear-gradient(to right, #ff7332 0%,#27d83b 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7332', endColorstr='#27d83b',GradientType=1 )

.noUi-connect
  background: transparent

.noUi-horizontal .noUi-handle
  border-radius: 50%
  width: 40px
  height: 26px
  top: -10px

.center
  margin-top : 50px


.modal-header
  padding-bottom: 5px


.modal-footer
  padding: 16px



.btn-modal
  width: 150px !important


.modal-dialog
  border-radius: 5px

  .modal-title
    font-weight: 300

.selected-employees
  width: 100%
  border: 1px solid #e4e4e4
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

  &::-webkit-scrollbar
      width: 12px

  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 10px


  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)


.progressmodal-container
  padding: 30px
  max-width: 900px
  width: 100% !important
  background-color: #F7F7F7
  margin: 0 auto
  border-radius: 2px
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  overflow: hidden


.progressmodal-container h1
  font-size: 1.8em



