.task--body
  font-weight: 300
  color: $dark-grey

.priority-holder
  position: relative
  width: 100%
  height: 4px
  background: #e4e4e4
  border-radius: 2px

  .priority
    position: absolute
    background: $accent-color
    height: 100%
    border-radius: 2px

.pull-right-view
  margin: 10px 0 0 0
  padding: 0

.attachment-badge
  padding: 10px
  font-weight: 200
  font-size: 13px
  font-family: $font-robot

.task--metadata
  p
    padding: 0
    margin: 0
    font-size: 13px

.profile-picture-small
  width: 60px
  height: 60px
  border-radius: 40px
  float: right
  padding-right: 5px

.progress-update--btn
  float: right
  border-radius: 50px