@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700");
/* PLUGINS */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* BASE STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  font-size: 16px; }

polyline {
  transition: all 250ms ease-in-out; }

section {
  padding: 150px 0;
  background: #fafafa;
  position: relative; }
  @media screen and (max-width: 596px) {
    section {
      padding: 100px 16px 70px 16px; } }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* LAYOUTS */
/* MODULES */
#wrapper {
  width: 100%;
  margin-bottom: 550px;
  position: relative;
  background: #fff;
  box-shadow: -1px 7px 20px rgba(255, 255, 255, 0.3);
  z-index: 10;
  box-sizing: border-box;
  float: left;
  overflow: hidden; }
  #wrapper > #header {
    background: #0030b8;
    position: relative;
    text-align: center;
    color: #fff;
    height: 100%;
    z-index: 99;
    background-image: -webkit-linear-gradient(270deg, rgba(51, 51, 51, 0.04) 0, rgba(255, 255, 255, 0.04) 100%);
    background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.04) 0, rgba(255, 255, 255, 0.04) 100%); }
  #wrapper .header--mobile-view {
    display: none;
    padding: 0 16px; }
    @media screen and (max-width: 596px) {
      #wrapper .header--mobile-view {
        display: block; } }
    #wrapper .header--mobile-view h1 {
      font-size: 32px;
      font-weight: bold;
      z-index: 13;
      text-transform: uppercase;
      text-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; }
    #wrapper .header--mobile-view h4 {
      font-size: 22px;
      font-weight: bold;
      z-index: 14;
      text-transform: uppercase;
      text-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; }
    #wrapper .header--mobile-view p {
      opacity: 0.83; }
    #wrapper .header--mobile-view .btn {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }

.header--slider {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.header--slider__wrapper {
  margin: 0 auto;
  background: transparent;
  padding: 0;
  overflow: visible;
  left: 0; }

.header--slider__arrows-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px; }
  @media screen and (max-width: 596px) {
    .header--slider__arrows-wrapper {
      display: none; } }
  .header--slider__arrows-wrapper .header--slider__arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 65%;
    margin-top: -45px;
    width: 70px;
    height: 90px; }
    .header--slider__arrows-wrapper .header--slider__arrow > svg {
      padding: 5px; }
    .header--slider__arrows-wrapper .header--slider__arrow.left {
      left: 16px;
      z-index: 30; }
    .header--slider__arrows-wrapper .header--slider__arrow.right {
      right: 16px;
      z-index: 30; }
    .header--slider__arrows-wrapper .header--slider__arrow.left:hover polyline, .header--slider__arrows-wrapper .header--slider__arrow.left:focus polyline, .header--slider__arrows-wrapper .header--slider__arrow.right:hover polyline, .header--slider__arrows-wrapper .header--slider__arrow.right:focus polyline {
      stroke-width: 8;
      transition: all 100ms ease-in-out; }
    .header--slider__arrows-wrapper .header--slider__arrow.left:active polyline, .header--slider__arrows-wrapper .header--slider__arrow.right:active polyline {
      stroke-width: 12;
      transition: all 100ms ease-in-out; }

.header--slider__item {
  overflow: hidden; }

.header--slider__item-1 {
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: inherit;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0); }

.parallax-items__holder {
  background-repeat: no-repeat;
  background-image: url(../../assets/img/sliderbg.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20; }

.parallax-items__holder {
  overflow: hidden; }

@media screen and (max-width: 596px) {
  .header-slider__list {
    display: none; } }

.header--slider__parallax {
  position: absolute;
  display: block;
  visibility: visible; }
  .header--slider__parallax.slider__heading-main-text {
    width: 100%;
    top: 20%;
    font-size: 27px;
    font-weight: bold;
    z-index: 13;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; }
  .header--slider__parallax.slider__heading-sub-text {
    width: 100%;
    top: calc(20% + 110px);
    font-size: 22px;
    font-weight: bold;
    z-index: 14;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; }
  .header--slider__parallax.slider__heading-helping-text {
    width: 100%;
    top: calc(20% + 170px);
    font-size: 22px;
    font-weight: 300;
    z-index: 14; }
    @media screen and (max-width: 596px) {
      .header--slider__parallax.slider__heading-helping-text {
        top: calc(20% + 170px); } }
  .header--slider__parallax.slider__heading-find-more {
    width: 100%;
    top: calc(20% + 230px);
    font-size: 22px;
    font-weight: 300;
    z-index: 14; }
    .header--slider__parallax.slider__heading-find-more > a {
      font-size: 16px; }
  .header--slider__parallax.slider__heading-helping-text > p {
    margin: 0 auto;
    max-width: 700px; }
  .header--slider__parallax.slider__heading-book {
    left: -30px;
    top: 175px;
    z-index: 9; }
  .header--slider__parallax.slider__heading-watch {
    right: 0;
    margin-right: -50px;
    top: 175px;
    z-index: 12; }
  .header--slider__parallax.slider__heading-laptop {
    left: 240px;
    bottom: 0;
    z-index: 10;
    margin-bottom: -100px; }
  .header--slider__parallax.slider__heading-coffee {
    right: 250px;
    bottom: 0;
    margin-bottom: -230px;
    z-index: 11; }
  .header--slider__parallax.slider__heading-ipad {
    right: 150px;
    bottom: 0;
    margin-bottom: -380px;
    z-index: 14; }
  .header--slider__parallax.slider__heading-iphone {
    right: 500px;
    bottom: 0;
    margin-bottom: -110px;
    z-index: 16; }

.book__image {
  width: 350px;
  height: auto;
  position: relative; }

.laptop__image {
  width: 460px;
  height: auto;
  position: relative; }

.coffee__iphone {
  width: 150px;
  height: auto;
  position: relative; }

.coffee__ipad {
  width: 450px;
  height: auto;
  position: relative; }

.navigation {
  width: 100%;
  padding: 32px 16px;
  transition: all 0.25s ease-in-out;
  z-index: 1000; }
  .navigation.navigation-fixed-top {
    position: fixed;
    top: 0;
    left: 0; }
  .navigation a {
    color: #fff;
    text-decoration: none; }
  .navigation .focused-link {
    color: orangered; }

.navigation--shrink {
  background: #fff;
  padding: 0 16px; }
  @media screen and (max-width: 596px) {
    .navigation--shrink {
      border-bottom: 1px solid #e4e4e4; } }
  .navigation--shrink.full-width {
    box-shadow: 0 7px 15px -7px rgba(0, 0, 0, 0.04); }
  .navigation--shrink a {
    color: black; }
  @media screen and (max-width: 596px) {
    .navigation--shrink .navigation--logo {
      padding: 10px 0; } }

.navigation--logo {
  width: 185px;
  height: auto;
  display: inline-block; }
  @media screen and (max-width: 596px) {
    .navigation--logo {
      width: 95px;
      height: auto; } }

.navigation--logo img {
  width: 160px;
  height: auto; }
  @media screen and (max-width: 596px) {
    .navigation--logo img {
      width: 90px;
      height: auto; } }
  .navigation--logo img .navigation--logo img.small--image {
    width: 155px;
    height: auto; }

.navigation--list-holder {
  float: right;
  display: inline-block;
  padding: 20px 15px 0 15px; }
  .navigation--list-holder .navigation--list-time {
    float: left;
    display: block;
    padding: 2px 15px; }
  .navigation--list-holder > ul {
    float: left; }
    @media screen and (max-width: 780px) {
      .navigation--list-holder > ul {
        display: none; } }
  .navigation--list-holder > a {
    float: left;
    padding: 3px 15px;
    border-radius: 15px; }
    @media screen and (max-width: 780px) {
      .navigation--list-holder > a {
        display: none; } }

#about-us {
  width: 100%;
  position: relative;
  z-index: 130;
  padding-left: 0;
  padding-right: 0px; }
  #about-us .section-heading {
    margin: 0 auto 27px auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold; }
  #about-us .section-subheading {
    margin: 25px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px; }

.card-solutions {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 3px; }
  .card-solutions.card {
    border: none;
    padding: 0; }
  .card-solutions .card-title {
    font-weight: 600; }
  .card-solutions .card-text {
    font-size: 15px;
    line-height: 1.3rem; }
  .card-solutions .btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  .card-solutions .card-block {
    padding: 16px; }

.stats {
  background: #0030b8;
  width: 100%;
  margin: 0;
  padding: 80px 0 130px 0;
  height: auto; }
  .stats .stats-body {
    opacity: 0.83;
    line-height: 30px;
    font-weight: 200; }
    .stats .stats-body .text-body {
      margin-top: -27px;
      margin-left: 45px;
      display: inline-block; }
    .stats .stats-body .stats-body.stats-progress-bar {
      margin-bottom: 30px; }
    .stats .stats-body .stats-progressbar-full {
      position: relative;
      width: 100%;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.13); }
      .stats .stats-body .stats-progressbar-full .stats-progressbar-fill {
        background-color: white;
        height: 5px;
        position: absolute; }
    .stats .stats-body .stats_progressbar-marker {
      float: right;
      margin-top: -24px; }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #fff;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  stroke-width: 2;
  stroke: #0030b8;
  stroke-miterlimit: 10;
  margin: 0 5px 0 0;
  box-shadow: inset 0px 0px 0px #fff;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both; }

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }
@keyframes scale {
  0%, 100% {
    transform: none; }
  50% {
    transform: scale3d(1.1, 1.1, 1); } }
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #fff; } }
.service-charter {
  background: #e9e9e9;
  width: 100%;
  padding: 80px 0 130px 0;
  height: auto; }

.our-story--boxes > .row > div {
  height: auto; }
  .our-story--boxes > .row > div:nth-child(1) {
    background-color: #fafafa !important; }
    .our-story--boxes > .row > div:nth-child(1).col-md-4 {
      padding: 100px; }
      @media screen and (max-width: 596px) {
        .our-story--boxes > .row > div:nth-child(1).col-md-4 {
          padding: 50px 16px 40px 16px; } }
  .our-story--boxes > .row > div:nth-child(2) {
    background-color: #f3f3f3 !important; }
    .our-story--boxes > .row > div:nth-child(2).col-md-4 {
      padding: 100px; }
      @media screen and (max-width: 596px) {
        .our-story--boxes > .row > div:nth-child(2).col-md-4 {
          padding: 50px 16px 40px 16px; } }
  .our-story--boxes > .row > div:nth-child(3) {
    background-color: #e9e9e9 !important; }
    .our-story--boxes > .row > div:nth-child(3).col-md-4 {
      padding: 100px; }
      @media screen and (max-width: 596px) {
        .our-story--boxes > .row > div:nth-child(3).col-md-4 {
          padding: 50px 16px 40px 16px; } }
  .our-story--boxes > .row > div h4 {
    font-weight: bold; }
  .our-story--boxes > .row > div .our-story-text {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding-right: 16px; }

#_wrapper--services {
  width: 100%;
  position: relative;
  z-index: 130; }
  #_wrapper--services .section-heading {
    margin: 0 auto 27px auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold; }
  #_wrapper--services .section-subheading {
    margin: 25px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px; }
  #_wrapper--services .service-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px; }
  #_wrapper--services .service-item {
    margin-bottom: 50px; }
  #_wrapper--services .service-item h4 {
    font-size: 19px;
    color: #000000;
    font-weight: bold; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: #1d1d1d;
  font-size: 14px; }
  @media screen and (max-width: 596px) {
    #footer {
      overflow-y: scroll; } }
  #footer .main-footer {
    padding: 100px 0 80px 0; }
    #footer .main-footer img {
      width: 150px; }
  #footer a {
    opacity: 0.83;
    color: #fff; }
  #footer .secondary-footer {
    background: #000;
    width: 100%;
    height: 80px;
    padding: 10px 0; }

#projects {
  background: #0030b8;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 130; }
  #projects .section-heading {
    margin: 0 auto 0 auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold;
    width: 100%;
    text-align: center; }
  #projects .section-subheading {
    margin: 25px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px;
    width: 100%;
    text-align: center; }
  #projects .project-item img {
    box-shadow: -1px 7px 20px rgba(0, 0, 0, 0.3); }

#contact-us {
  background: #0030b8;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 130;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }
  #contact-us .section-heading {
    margin: 0 auto 0 auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold;
    width: 100%;
    text-align: center; }
  #contact-us .section-subheading {
    margin: 25px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px;
    width: 100%;
    text-align: center; }
  #contact-us .contact-info {
    padding: 20px; }
    #contact-us .contact-info > div {
      background: #fff;
      padding: 35px;
      border: 1px solid rgba(51, 51, 51, 0.12);
      border-right: none; }
    #contact-us .contact-info > div:last-child {
      border-right: 1px solid rgba(51, 51, 51, 0.12); }
  #contact-us .contact-info__heading {
    font-size: 18px;
    font-weight: bold; }

.map-container {
  height: 200px;
  width: 100%;
  z-index: -1;
  background-color: #f1f1f1;
  position: relative;
  margin-top: -90px;
  overflow: hidden;
  transition: height 600ms ease-in-out; }
  .map-container .underlay_map {
    height: 600px;
    width: 100%; }

.toggle-map-btn-holder {
  position: absolute;
  bottom: 30px;
  width: 100%; }

.toggle-map {
  border-radius: 20px;
  padding: 12px 35px;
  border: 2px solid #fff;
  background: #0030b8;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 250ms ease-in-out; }
  .toggle-map:hover {
    background: #fff;
    text-decoration: none;
    border: 2px solid #0030b8;
    color: #0030b8;
    transition: all 250ms ease-in-out; }

.full_map_view {
  height: 600px;
  transition: height 600ms ease-in-out; }

.message_success {
  box-shadow: -1px 7px 20px rgba(0, 0, 0, 0.3); }

#technologies {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 130; }
  @media screen and (max-width: 596px) {
    #technologies .technology {
      width: 50%; } }
  #technologies .technology img {
    width: 80px;
    padding: 40px 0; }
  #technologies .technology h4 {
    font-weight: 300;
    margin-top: 20px; }
  #technologies .section-heading {
    margin: 0 auto 0 auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold;
    width: 100%;
    text-align: center; }
  #technologies .section-subheading {
    margin: 25px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px;
    width: 100%;
    text-align: center; }

.navigation--list-mobile-holder {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 16px;
  transition: all 0.6s ease-in-out; }
  .navigation--list-mobile-holder .navigation--list-mobile-time {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4; }
  .navigation--list-mobile-holder a {
    color: #0030b8; }
  .navigation--list-mobile-holder.is-closed {
    left: 100%; }
  .navigation--list-mobile-holder .focused-link {
    color: orangered; }

.hamburglar {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  display: block;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 20px;
  transition: all 0.25s ease-in-out; }
  @media screen and (min-width: 780px) {
    .hamburglar {
      display: none; } }
  .hamburglar.navigation-shrink {
    stroke: #000;
    fill: #000;
    top: 0; }

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg); }

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px; }

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: 100% 0; }
  .path-rotation:before {
    content: "";
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0; }

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
  animation: dash-in 0.6s linear normal forwards;
  animation-fill-mode: forwards; }
.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal forwards;
  animation: rotate-in 0.6s linear normal forwards; }

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal forwards;
  animation: dash-out 0.6s linear normal forwards; }
.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal forwards;
  animation: rotate-out 0.6s linear normal forwards; }

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round; }

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 240; } }
.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
  fill: #fff; }

.burger-container {
  position: relative;
  height: 28px;
  width: 36px; }

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background-color: #fff; }

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px; }

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px; }

.burger-filling {
  top: 12px; }

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px; }

.svg-ring {
  width: 68px;
  height: 68px; }

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal forwards;
  animation: bun-top-out 0.6s linear normal forwards; }
.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal forwards;
  animation: bun-bot-out 0.6s linear normal forwards; }

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal forwards;
  animation: bun-top-in 0.6s linear normal forwards; }
.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal forwards;
  animation: bun-bot-in 0.6s linear normal forwards; }

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }
@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }
@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal forwards;
  animation: burger-fill-out 0.6s linear normal forwards; }

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal forwards;
  animation: burger-fill-in 0.6s linear normal forwards; }

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px; }
  40% {
    width: 0;
    left: 40px; }
  80% {
    width: 36px;
    left: -6px; }
  100% {
    width: 36px;
    left: 0px; } }
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px; }
  20% {
    width: 42px;
    left: -6px; }
  40% {
    width: 0;
    left: 40px; }
  100% {
    width: 0;
    left: 36px; } }
#contact-us-modal {
  z-index: 9999999999; }
  #contact-us-modal .modal-header-custom {
    width: 100%; }
  #contact-us-modal h2 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    background: #0030b8; }

.increasedzindexclass {
  z-index: 99999999999;
  width: 100%; }

#our-visitors {
  background: #fff;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 130;
  padding: 20px 0 0; }
  #our-visitors .section-heading {
    margin: 0 auto 0 auto;
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: bold;
    color: #0030b8;
    font-size: 68px;
    width: 100%;
    text-align: center; }
  #our-visitors .section-subheading {
    margin: 15px auto 50px auto;
    text-transform: none;
    text-align: center;
    max-width: 800px;
    font-size: 24px;
    width: 100%; }

/*# sourceMappingURL=app.css.map */
