*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
ul
    list-style-type: none
    margin: 0
    padding: 0

li
    list-style-type: none

body
    font-family: $font-robot
    text-align: left
    line-height: 30px
    font-weight: 400
    font-style: normal
    color: #666
    font-size: 16px
    background-color: #f2f2f2

polyline
    transition: all 250ms ease-in-out

section
    padding: 150px 0
    background: #fafafa
    position: relative
    @media screen and (max-width: $break-small)
        padding: 100px 16px 70px 16px
button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
