.common-header
  width: 100%
  position: fixed
  z-index: 999
  top: 0
  left: 0
  height: 70px
  background-color: #fff
  box-shadow: 0 1px 6px rgba(57,73,76,.45)

  & .navigation
    background-color: #fff
    margin: 0 auto

    & .logo
      width: 170px
      padding: 16px 32px 0 16px
      float: left

      & img
        width: 100%


    & .search-box-holder
      width: 470px
      float: left
      padding: 16px 16px 0 16px

      & form
        float: left

        & .search-input
          border-top: none
          border-bottom: none
          border-right: none
          background: #f9f9f9
          width: 300px

      & .search-icon
        float: left

        padding: 10px 5px 0 10px

    & .create-task
      float: right
      padding: 16px

      & .btn
        color: #fff
        width: 150px
        box-shadow: 0 1px 6px rgba(57,73,76,.35)

    & .profile-holder
      float: right
      padding: 16px
      line-height: 32px