.app-body
  position: relative
  max-width: 1100px
  margin: 0 auto 30px 0
  padding: 20px
  border-radius: 3px
  background: #fff
  box-shadow: 0 1px 6px rgba(57,73,76,.35)

  & .app-body--title
    font-weight: 300
    font-size: 21px
    color: $dark-grey

  & .notification--value
    color: $dark-grey
    border-right: 1px solid #e4e4e4

  & .notification__link
    text-decoration: none
    transition: all .4s

    &:hover
      color: $theme-color