.main-navigation
  position: fixed
  top: 100px
  padding: 20px
  left: 16px
  max-width: 250px
  height: 100%

  & .left-bar-navigation
    padding-top: 20px
    & ul li
      padding: 0 0 20px 0
      & a
        color: $dark-grey

    & .fas, & .far, & .fab, & .fa
      color: $theme-color