.no-activity-recorded
  font-weight: 400

  .no-activity-action-button .btn
    width: 150px
    box-shadow: 0 1px 6px rgba(57,73,76,.35)

.progress-builder
  position: absolute
  bottom: 0
  left: 0
  height: 3px
  border-radius: 2px
  width: 78%
  background-color: $theme-color

.progress-builder-percentage
  position: absolute
  bottom: 10px
  right: 10px
  font-size: 12px

.participants-profile-pics
  display: block

  & img
    width: 50px
    height: 50px
    border-radius: 25px
    border: 2px solid #f2f2f2

.update_task_progress
  margin: 20px 20px 0 0