.app-wrapper.app-main
  width: 100%
  height: 100%
  padding-top: 120px
  background-color: #f2f2f2

  .first-time-login
    max-width: 600px
    margin: 0px auto
    position: relative
    background-color: #fff
    padding: 30px
    box-shadow: 0 1px 6px rgba(57,73,76,.35)

    & .social-login
      margin-top: 10px

      &>a.btn
        border-radius: 20px
        width: 150px

    & .login-footer
      margin-top: 10px

      & .td
      font-size: 9px
      width: 250px
      padding: 10px
      border-radius: 15px
