@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700");
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
/* PLUGINS */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* BASE STYLES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  font-size: 16px;
  background-color: #f2f2f2; }

polyline {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

section {
  padding: 150px 0;
  background: #fafafa;
  position: relative; }
  @media screen and (max-width: 596px) {
    section {
      padding: 100px 16px 70px 16px; } }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* LAYOUTS */
/* MODULES */
header {
  width: 100%;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45);
          box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45); }
  header .navigation {
    background-color: #fff;
    min-height: 75px;
    margin: 0 auto;
    max-width: 1100px; }
    header .navigation .logo {
      width: 170px;
      padding: 16px; }
      header .navigation .logo img {
        width: 100%; }

.section-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
  background-color: #f2f2f2; }
  .section-container .container-login {
    max-width: 600px;
    margin: 0px auto;
    position: relative;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
            box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }
    .section-container .container-login .social-login {
      margin-top: 10px; }
      .section-container .container-login .social-login > a.btn {
        border-radius: 20px;
        width: 150px; }
    .section-container .container-login .login-footer {
      margin-top: 10px; }
      .section-container .container-login .login-footer .text-muted {
        font-size: 9px; }
    .section-container .container-login .btn-new-password {
      width: 150px;
      border-radius: 15px; }

.app-wrapper.app-main {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  background-color: #f2f2f2; }
  .app-wrapper.app-main .first-time-login {
    max-width: 600px;
    margin: 0px auto;
    position: relative;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
            box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }
    .app-wrapper.app-main .first-time-login .social-login {
      margin-top: 10px; }
      .app-wrapper.app-main .first-time-login .social-login > a.btn {
        border-radius: 20px;
        width: 150px; }
    .app-wrapper.app-main .first-time-login .login-footer {
      margin-top: 10px;
      font-size: 9px;
      width: 250px;
      padding: 10px;
      border-radius: 15px; }

.common-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45);
          box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45); }
  .common-header .navigation {
    background-color: #fff;
    margin: 0 auto; }
    .common-header .navigation .logo {
      width: 170px;
      padding: 16px 32px 0 16px;
      float: left; }
      .common-header .navigation .logo img {
        width: 100%; }
    .common-header .navigation .search-box-holder {
      width: 470px;
      float: left;
      padding: 16px 16px 0 16px; }
      .common-header .navigation .search-box-holder form {
        float: left; }
        .common-header .navigation .search-box-holder form .search-input {
          border-top: none;
          border-bottom: none;
          border-right: none;
          background: #f9f9f9;
          width: 300px; }
      .common-header .navigation .search-box-holder .search-icon {
        float: left;
        padding: 10px 5px 0 10px; }
    .common-header .navigation .create-task {
      float: right;
      padding: 16px; }
      .common-header .navigation .create-task .btn {
        color: #fff;
        width: 150px;
        -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
                box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }
    .common-header .navigation .profile-holder {
      float: right;
      padding: 16px;
      line-height: 32px; }

.main-navigation {
  position: fixed;
  top: 100px;
  padding: 20px;
  left: 16px;
  max-width: 250px;
  height: 100%; }
  .main-navigation .left-bar-navigation {
    padding-top: 20px; }
    .main-navigation .left-bar-navigation ul li {
      padding: 0 0 20px 0; }
      .main-navigation .left-bar-navigation ul li a {
        color: #4d4d4d; }
    .main-navigation .left-bar-navigation .fas, .main-navigation .left-bar-navigation .far, .main-navigation .left-bar-navigation .fab, .main-navigation .left-bar-navigation .fa {
      color: #28a745; }

.app-body {
  position: relative;
  max-width: 1100px;
  margin: 0 auto 30px 0;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
          box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }
  .app-body .app-body--title {
    font-weight: 300;
    font-size: 21px;
    color: #4d4d4d; }
  .app-body .notification--value {
    color: #4d4d4d;
    border-right: 1px solid #e4e4e4; }
  .app-body .notification__link {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .app-body .notification__link:hover {
      color: #28a745; }

.no-activity-recorded {
  font-weight: 400; }
  .no-activity-recorded .no-activity-action-button .btn {
    width: 150px;
    -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
            box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

.progress-builder {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 2px;
  width: 78%;
  background-color: #28a745; }

.progress-builder-percentage {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px; }

.participants-profile-pics {
  display: block; }
  .participants-profile-pics img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #f2f2f2; }

.update_task_progress {
  margin: 20px 20px 0 0; }

.btn-page-one, .btn-create {
  width: 150px;
  float: right; }

.noUi-horizontal {
  height: 10px;
  background: #ff7332;
  background: -webkit-gradient(linear, left top, right top, from(#ff7332), to(#27d83b));
  background: linear-gradient(to right, #ff7332 0%, #27d83b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7332', endColorstr='#27d83b',GradientType=1 ); }

.noUi-connect {
  background: transparent; }

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 40px;
  height: 26px;
  top: -10px; }

.center {
  margin-top: 50px; }

.modal-header {
  padding-bottom: 5px; }

.modal-footer {
  padding: 16px; }

.btn-modal {
  width: 150px !important; }

.modal-dialog {
  border-radius: 5px; }
  .modal-dialog .modal-title {
    font-weight: 300; }

.selected-employees {
  width: 100%;
  border: 1px solid #e4e4e4;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .selected-employees::-webkit-scrollbar {
    width: 12px; }
  .selected-employees::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .selected-employees::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.progressmodal-container {
  padding: 30px;
  max-width: 900px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }

.progressmodal-container h1 {
  font-size: 1.8em; }

.task-title {
  font-size: 12px; }

.view-task {
  border-radius: 50px;
  width: 150px; }

.task p {
  padding: 0;
  margin: 0; }

.results-body {
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45);
          box-shadow: 0 1px 6px rgba(57, 73, 76, 0.45);
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .results-body::-webkit-scrollbar {
    width: 12px; }
  .results-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .results-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.individual-result {
  border-bottom: 1px solid #e4e4e4; }
  .individual-result .employee-picture {
    text-align: center; }
    .individual-result .employee-picture img {
      width: 100px;
      text-align: center;
      height: 100px;
      padding: 16px;
      border-radius: 50px; }
  .individual-result p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -5px;
    margin-bottom: 0; }
    .individual-result p.name {
      font-weight: 400;
      font-size: 14px; }
    .individual-result p.email, .individual-result p.employee_id {
      font-size: 10px; }
  .individual-result .btn-add-group-employee {
    -webkit-transform: translate(100%, 50%);
            transform: translate(100%, 50%); }
  .individual-result .btn-remove-group-employee {
    -webkit-transform: translate(40%, 50%);
            transform: translate(40%, 50%); }

.task--body {
  font-weight: 300;
  color: #4d4d4d; }

.priority-holder {
  position: relative;
  width: 100%;
  height: 4px;
  background: #e4e4e4;
  border-radius: 2px; }
  .priority-holder .priority {
    position: absolute;
    background: #0030b8;
    height: 100%;
    border-radius: 2px; }

.pull-right-view {
  margin: 10px 0 0 0;
  padding: 0; }

.attachment-badge {
  padding: 10px;
  font-weight: 200;
  font-size: 13px;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.task--metadata p {
  padding: 0;
  margin: 0;
  font-size: 13px; }

.profile-picture-small {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  float: right;
  padding-right: 5px; }

.progress-update--btn {
  float: right;
  border-radius: 50px; }

/*# sourceMappingURL=theme.css.map */